/*---MIXINS---*/
/*---VARIABLES---*/
/*---MAIN STYLES---*/
body {
  color: #333;
  font-family: 'Quicksand', sans-serif;
  font-size: 20px;
  height: 100%;
  overflow: hidden;
}

#title {
  width: 50%;
  height: 110px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
#title h1, #title h2, #title h3, #title h4, #title h5, #title h6 {
  font-family: 'Amatic SC', cursive;
}
#title h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 60px;
  margin: 0;
}
#title p {
  text-transform: uppercase;
  padding: 0;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

#octo {
  width: 200px;
  height: 200px;
  position: absolute;
  bottom: -100px;
  left: 0;
  right: 0;
  margin: auto;
  background: #4398cc;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
}
#octo #leftEye {
  position: absolute;
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: white;
  border: 15px solid #4398cc;
  left: 0;
  top: 10px;
}
#octo #leftEye #leftEyePupil {
  position: absolute;
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: black;
  top: 5px;
  left: 15px;
}
#octo #rightEye {
  position: absolute;
  width: 60px;
  height: 60px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: white;
  border: 15px solid #4398cc;
  right: 0;
  top: 10px;
}
#octo #rightEye #rightEyePupil {
  position: absolute;
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: black;
  top: 5px;
  left: 15px;
}
#octo #leftEyeLid {
  position: absolute;
  width: 90px;
  height: 90px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #4398cc;
  left: 10px;
  top: 70px;
}
#octo #rightEyeLid {
  position: absolute;
  width: 90px;
  height: 90px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #4398cc;
  right: 10px;
  top: 70px;
}
#octo #mouth {
  position: absolute;
  width: 15px;
  height: 15px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  background: #4398cc;
  border: 3px solid black;
  left: 90px;
  top: 70px;
}
#octo #mouthMask {
  position: absolute;
  width: 30px;
  height: 20px;
  background: #4398cc;
  left: 90px;
  top: 62px;
}
