/*---MIXINS---*/
@mixin border-radius($radius) {
	-moz-border-radius: $radius; 
	-webkit-border-radius: $radius; 
	-ms-border-radius: $radius;
	border-radius: $radius;
}

/*---VARIABLES---*/
$octoBlue: #4398CC;

/*---MAIN STYLES---*/
body {
	color: #333;	
	font-family: 'Quicksand', sans-serif;
	font-size: 20px;
	height: 100%;
	overflow: hidden;
}

#title {
	width: 50%;
	height: 110px;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;

	h1, h2, h3, h4, h5, h6 {
		font-family: 'Amatic SC', cursive;
	}

	h1 {
		text-transform: uppercase;
		text-align: center;
		font-size: 60px;
		margin: 0;
	}

	p {
		text-transform: uppercase;
		padding: 0;
		text-align: center;
		font-size: 15px;
		font-weight: bold;
	}
}

#octo {
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: -100px;
	left: 0;
	right: 0;
	margin: auto;
	background: $octoBlue;
	@include border-radius(50%);

	#leftEye {
		position: absolute;
		width: 60px;
		height: 60px;
		@include border-radius(50%);
		background: white;
		border: 15px solid $octoBlue;
		left: 0;
		top: 10px;

		#leftEyePupil {
			position: absolute;
			width: 20px;
			height: 20px;
			@include border-radius(50%);
			background: black;
			top: 5px;
			left: 10px;
		}
	}

	#rightEye {
		position: absolute;
		width: 60px;
		height: 60px;
		@include border-radius(50%);
		background: white;
		border: 15px solid $octoBlue;
		right: 0;
		top: 10px;	

		#rightEyePupil {
			position: absolute;
			width: 20px;
			height: 20px;
			@include border-radius(50%);
			background: black;
			top: 5px;
			left: 10px;
		}	
	}

	#leftEyeLid {
		position: absolute;
		width: 90px;
		height: 90px;
		@include border-radius(50%);
		background: $octoBlue;
		left: 10px;
		top: 70px;
	}

	#rightEyeLid {
		position: absolute;
		width: 90px;
		height: 90px;
		@include border-radius(50%);
		background: $octoBlue;
		right: 10px;
		top: 70px;
	}

}
