!!! 5
%head
	%link{:type => "text/css", :rel => "stylesheet", :href => "css/octoStyles.css"}
	%link{:type => "text/css", :rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Amatic+SC:400,700"}
	%link{:type => "text/css", :rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Quicksand:400,700,300"} 

#title
	%h1 Shiny Octo Ninja
	%p Coming Soon

#octo
	#leftEye
		#leftEyePupil
	#rightEye
		#rightEyePupil
	#leftEyeLid
	#rightEyeLid
	#mouth
	#mouthMask
