!!! 5
%head
	%meta{'http-equiv' => 'Content-Type', :content => 'text/html'}
	%meta{:name => "viewport", :content => "width=device-width, user-scalable=no"}
	%meta{:name => "viewport", :content => "initial-scale=1, maximum-scale=1"}
	%link{:type => "text/css", :rel => "stylesheet", :href => "css/octoStyles.css"} 
	%link{:type => "text/css", :rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Amatic+SC:400,700"}
	%link{:type => "text/css", :rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Quicksand:400,700,300"}
	%script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
	%script(src="js/min/octoScript.min.js")

#title
	%h1 Shiny Octo Ninja
	%p Coming Soon

#octo
	#leftEye
		.leftEyePupil
	#rightEye
		.rightEyePupil
	#leftEyeLid
	#rightEyeLid
	#mouth
	#mouthMask
